# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# JetBrains
.idea/

# Data
data/
output/
logs/

# Excel
*.xlsx

# Environment Variables
.env

# Cache
.pytest_cache/

# OS
Thumbs.db
.DS_Store

cache/
data/processed/*.jsonl